<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quickstart Reactjs in VSCode</title>
</head>

<body>
    <!-- Placeholder for where the render will put the returned/new HTML -->
    <div id="root"></div>
</body>

</html>

<!-- Add script sources to the html so that reactjs works -->
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<!-- Add Babel compiler to enable JSX syntax (React is still operable without JSX, except most people will use the JSX syntax, syntax-differences explored elsewhere) -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<!-- Specify that this script section uses the Babel compiler, so that JSX works -->
<script type="text/babel">

    // class Toggle based on examples of contional rendering found at ReactJS official Docs: https://reactjs.org/docs/conditional-rendering.html

    // Define React component class
    class Dropdown extends React.Component {
        // Always has a constructor
        constructor(props) {
            super(props);
            this.state = {
                arrOptions: [],
                selectedOption: ""
            };

            // This binding is necessary to make `this` work in the callback
            this.handleChange = this.handleChange.bind(this);
        }

        componentDidMount() {
            console.log('did mount');
        }
        componentWillUnmount() {
            console.log('did unmount');
        }

        // Event handlers (other events such as blur, change, submit all work)
        handleChange() {
            console.log(this);
            this.setState(state => ({
                selectedOption: this.selectedOption.value
            }));
        }

        render() {
            const isToggleOn = this.state.isToggleOn;
            let select;
            if (isToggleOn) {
                select = <select onClick={this.handleClick}>on</select>;
            } else {
                select = <select onClick={this.handleClick}>off</select>;
            }

            return (
                <div>
                    {button}<br/>
                </div>
            );
        }
    }

    ReactDOM.render(
        <Dropdown />,
        document.getElementById('root')
    );
</script>